<app-admin-topbar (expandioBoton)="onExpandirRetraer($event)"></app-admin-topbar>

<mat-drawer-container class="example-container" autosize style="height: 100%; background-color: rgba(202, 202, 202, 0.521);">

    <mat-drawer  opened class="example-sidenav" mode="side" disableClose="true" [@openClose]="estaExpandido ? 'open' : 'closed'">
        
        <app-admin-sidebar [isExpanded]="estaExpandido" ></app-admin-sidebar>
    
    </mat-drawer>  

    <div style="padding: 20px">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>

  